page-home {
    .location {
        font-size: x-large;
        padding-top: 5em;
    }

    .temperature {
        font-size: 60px;
        padding-top: 1em;
    }

    .summary {
        font-size: xx-large;
    }

    .icon {
        color: white;
    }
    .footer-bar {
        position: absolute;
        text-align: center;
    }
}
